.nav{
    position: relative;
    background-image: url("../images/landing2.jpg");
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
}
.nav li{
    list-style: none;
    margin: 0 10px;
}
.nav li a{
    color: rgb(175, 30, 25);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 25px;
}
.nav li a:hover{
    background: white;
    box-shadow: 0 5px 10px rgb(8, 8, 8)
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image:url("../images/1.png")
}